@import url('../../css/custom-vars.css');


.aboutContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.diabloAbout {
    max-width: 1200px;
    width: 100%;
}

.spanContainer {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 800px;

}

.spanContainer > span {
    margin: 10px;
}

