h1{
    color: white;
}


.flexContainer{
   display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.diabloAbout{
    max-width: 1200px;
    width: 100%;
}

.pictureDiv{
    align-items: center;
    flex-direction: column;
    display: flex;
}



#personal-message{

    height: 250px;
}

#spanContainer{
    width:100%;
    max-width: 800px;

}

