body{
    margin: 0;
    background: #222;

}

.container{
    width: 80%;
    margin: 0 auto;
}



.background-image3{
   /* position: absolute;*/
   /*top:150px;*/
}

.don_diablo_unknown {
    height: 342px;
    width: 906px;
    top: 250px;
    left: 450px;
    position: absolute
}

.h1News{
    font-size: 60px;
}

.homepageContainer{
    display: flex;
    justify-content: center;
}


