body{
    margin: 0;
    background: #222;

}

.container{
    width: 80%;
    margin: 0 auto;
}



.background-image3{
   /* position: absolute;*/
   /*top:150px;*/
    width: 1920px;
    height: 765px;
}

.don_diablo_unknown {
    height: 342px;
    width: 906px;
    top: 270px;
    left: 450px;
    position: absolute
}

.h1News{
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 10px;
}

.homepageContainer{

    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;

}

.newsDates{
    color: darkgrey;
    margin-bottom: 0;
}

.newsInfo{
    margin-top: 0;
    color: white;
}
