
.displayDemoContainer {

    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-left: 0;
    border-right: 0;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.viewInfoButton{
    width: 200px;
    height: 50px;
    border-radius: 12px;
    margin-top: 15px;
}

.writeACommentbutton{

    width: 200px;
    height: 50px;
    border-radius: 12px;
    margin-top: 15px;
}
