h1{
    color: white;
}

.diabloAbout{

    width: 1000px;
}

.pictureDiv{
    align-items: center;
    flex-direction: column;
    display: flex;
}

#biography{
    display: flex;
    margin-right: 93px;
    justify-content: center;
    color:white;

}
#personal-message{

    height: 250px;
}

