.containerViewSubmission {
    display: flex;
   flex-direction: column;
    align-items: center;
    color: white;
}

.listViewSubmission{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}