.loginForm{
    justify-content: center;
    display: flex;
    margin-top: 100px;
}

#labelSignin{
    margin:20px;
}
.loginFormContainer {

    width: 1920px;
    height: 1080px;
    justify-content: center;
    align-items: start;
    display: flex;
    margin-top: 100px;
}



.loginForm p{

    color: white;


}

