h1 {

    color: white;

}

input, label {
    display: block;
    height: 25px;

}


label {


    color: white;
    text-transform: uppercase;
}

.demodropForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.demodropButton {
    width: 200px;
    height: 50px;
    border-radius: 12px;
    margin-top: 15px;
    color: black;
}

.fileLabel {
    width: 500px;
    background-color: white;

}

.demodropContainer {
    margin-top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.messageSucces {
    color: white;
}

.messageSuccesHere {
    color: #198c89;
}

@media only screen and (max-width: 600px) {
    .fileLabel {

        width: 200px;
        height: 20px;
    }


    .demodropContainer {
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .demodropButton {
        width: 100px;
        height: 30px;
        border-radius: 12px;
        margin-top: 15px;
        color: black;
    }

    .messageSucces {
        flex-direction: column;
        align-items: center;
        display: flex;
        font-size: 16px;
    }

}


