h1{

    color: white;

}
#demodrop{
    display: flex;
    justify-content: center;
}



form{
    display: flex;
    justify-content: center;

}

input, label {
    display:block;

}

input{
    width: 500px;

}
label{

    color: white;
    text-transform: uppercase;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#personalText {
    width: 500px;
    height: 205px;
}

span{
    margin: 20px;
    color: white;

}

#spanContainer{
    display: flex;
    flex-direction: column;


}

button{
    width: 200px;
    height: 50px;
}


