.App-logo{
    width: 175px;
}

nav{
    float: right;

    /*HIER MOET NOG NA GEKEKEN WORDEN !!!! FLOAT MAG NIET */
}

header{
    background: black;
    height: 75px;
}

header:after{
    content: '';
    display: table;
    clear: both;
}
nav ul{
    margin:0;
    padding: 0;
    list-style: none;
    color: white;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;

    position: relative;

}



nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

nav a:hover{
    color: #b0148f;
}


nav a::before{
    content:  '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #b0148f;
    position: absolute;
    top:0;
    transition: all ease-in-out 250ms;

}

nav a:hover::before{
    width: 100%;
}