
nav{
    /*float: right;*/

    /*HIER MOET NOG NA GEKEKEN WORDEN !!!! FLOAT MAG NIET */
}

.homepageHeader{
    margin:0;
    height: 100px;
}
ul{
    display: flex;
    margin-top: 130px;
    justify-content: space-around;
}


header:after{
    content: '';
    display: table;
    clear: both;
}
nav ul{
    margin:0;
    padding: 0;
    list-style: none;
    color: white;
}

nav li{
    display: inline-block;


    position: relative;

}



nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
}

nav a:hover{
    color: #198c89;
}


nav a::before{
    content:  '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #198c89;
    position: absolute;
    top:0;
    transition: all ease-in-out 250ms;

}

nav a:hover::before{
    width: 100%;
}

.App-logo2{
    width: 150px;
}

