.signupForm label{
    color: white;


}

.signupContainer {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.signupForm p{
    color: white;

}

.message-succes{
    color: white;
}

#signUpInput{
width: 350px;
}