.homepageBody{
    margin: 0;
    background: black;

}

.h1News{
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 10px;
}
.newsDates{
    color: darkgrey;
    margin-bottom: 0;
}

.homepageContainer{

    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    font-size: 20px;

}

.musicPictures{
    display: flex;
    justify-content: center;
    margin: 10px;
    width: 238px;
}

.homepageBackground1 {

    width: 100%;
}


.divContainerMusic{
    display: flex;
    justify-content: center;

}

.h1Music{
    display: flex;
    justify-content: center;

    font-size: 60px;
    margin-top: 0;

}

.musicContainer{
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1046px;
    height: 808px;
    padding: 0px;

}

@media only screen and (max-width: 600px) {
    .homepageBody{
        margin: 0;
        background: black;

    }

    .h1News{
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .h1Music{

        font-size: 30px;


    }
    .musicPictures{

        width: 100px;
    }

    .homepageContainer{


        font-size: 10px;

    }
}

