body{
    margin: 0;
    background: #222;

}

.container{
    width: 80%;
    margin: 0 auto;
}



/*.background-image3{*/
/*   !* position: absolute;*!*/
/*   !*top:150px;*!*/
/*   !* width: 1920px;*!*/
/*    height: auto;*/
/*    max-width: 100%;*/
/*    width: 1920px;*/
/*}*/

.don_diablo_unknown {
    height: 381px;
    width: 1007px;

    max-width: 100%;

}

.h1News{
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 10px;
}

.homepageContainer{

    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;

}

.newsDates{
    color: darkgrey;
    margin-bottom: 0;
}

.newsInfo{
    margin-top: 0;
    color: white;
}

.pictureContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
/*.pictureContainer img {*/
/*    height: auto;*/
/*}*/

.listenButton{
    height: 66px;
    width: 223px;

    background-color: transparent;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: 3px solid white;
    border-radius: 5px;
    font-weight: bold;

}

.listenButton:hover {
    background-color: black;
}

.don_diablo_shows{
    height: auto;
    max-width: 100%;
    width: 1920px;
}

.parent{
    background-image: url("../../assets/home_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: center center;*/
    /*background-attachment: fixed;*/

}

.pictureContainer{
    height: 800px;
}

.homepageHeader{
    margin:0;
    height: 40px;
}
.background2Wrapper{
    height: 650px;
    background-image: url("../../assets/dondiablo_shows.PNG");
    background-repeat: no-repeat;
    background-size: 1920px;
    /*background-position: center center;*/
    /*background-attachment: fixed;*/
}

.musicContainer{
    margin-top: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1046px;
    height: 808px;

}
.musicPictures{
    display: flex;
    justify-content: center;
    margin: 10px;
    width: 238px;
}




.divContainerMusic{
    display: flex;
    justify-content: center;

}

.h1Music{
    display: flex;
    justify-content: center;
    font-size: 60px;
    margin-top: 0;

}